!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml")
	head
		title Simply Flash Cards
		link(rel="stylesheet", href="/stylesheets/board.css?v=2")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		script(type="text/javascript", src="/javascripts/math.js?v=2")
		// script(type="text/javascript", src="/javascripts/effects.js")
	body!= body


