!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml")
	head
		title Simply Flash Cards
		link(rel="stylesheet", href="/stylesheets/board.css?v=2")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		script(type="text/javascript", src="/javascripts/math.js?v=2")
		script(type="text/javascript", src="/javascripts/lib/json2.js")
		// script(type="text/javascript", src="/javascripts/effects.js")
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23685238-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body!= body


