body {
 font: 1em "Laucida Console", Monaco, monospace;
 color: #fff;
 background-color: black;
}

#menu {
 position: absolute;
 top:10px;
 left:0px;
 right:0px;
 padding-bottom: 10px;
 padding-left: 10px;
 border-bottom: thin solid #fff;
}

#ops {
 
}

#prefs {
 padding-left: 200px;
}

.pref {
 padding-right: 5px;
 padding-left: 5px;
}

#results {
 padding-left: 100px;
}

#correct_num {
 padding-left: 3px;
}

#save {
 padding-left: 10px;
}

#ranger {
 position: absolute;
 top:42px;
}

.range {
 padding: 2px;
 padding-left: 4px;
 padding-right: 4px;
 border: thin solid white;
 color: white;
 background-color: black;
}

#timer {
 position: absolute;
 right: 10px;
 top:40px;
 width: 100px;
 text-align: right;
}

#time {
 font-size: 2em;
}

#problem {
 padding-top: 40px;

}

.big {
 width: 200px;
 font: 10em "Laucida Console", Monaco, monospace;
 color: #fff;
}

.middle {
 text-align: right;
 width: 50%;
}

.outline {
 border: solid thin green;
}

#ans {
 border-top: 1px solid white;
}

#ans_box {
 width: 200px;
 background-color: black;
 text-align: right;
 outline: none;
}

.noanswer {
 color: green;
 border: none;
}

.wrong {
 color: red;
 border: 5px solid red;
}

.op {
 border: thin solid white;
 margin: 10px;
 text-align: center;
 padding: 3px;
}

.selected {
 color: black;
 background-color: white;
}

.active {
 color: black;
 background-color: green;
}

.disable {
 color: gray;
 background-color: black;
}

#fw {
  border: thin solid red;
}