!!!
html
  head
    title Simply Flash Cards
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
    script(type='text/javascript', src='/js/math.js')
    // script(type='text/javascript', src='/js/effects.js')
  body!= body
